body {
    background: rgba(33, 174, 169, 0.844);
    max-width: 80%;
    word-wrap: break-word; /* Разрывать длинные слова */
    padding: 5%;

}

a:hover {
    color: rgb(1, 11, 10); /* Изменить цвет текста ссылки при наведении на желтый */
    transition: color 0.3s ease;
}

a {
    color: rgb(53, 67, 108); /* Изменить цвет ссылок при наведении на желтый */
    
}

p {
    font-size: 20px; /* Увеличение размера шрифта для всех элементов <p> до 18 пикселей */
}