{% extends "base.html" %}

{% for i in categories %}
    {% block title %} Категории {% endblock title %}
{% endfor %}

{% block content %}
    <h1>Новости которые вы найдёте на нашем сайте</h1>
    <br>
    <br>
        <div>
            {% for post in posts %}
                    <hr>
                    <a href="{% url 'blog:show_single_post' post.pk %}"><h3> {{post.title}}</h3></a>
                        <br>
                    <p> {{post.summary}}...</p>                      
            {% endfor %}    
            <hr>
        </div>
{% endblock content %}