{% extends "base.html" %}


{% block title %} {{ posts.0.category }} {% endblock title %}




{% block content %}
<div>
    <form method="post">
        {% csrf_token %}
        {{ sort_form.as_p }}
        <input type="submit" value="Сортировать">
    </form>
</div>
<h1>Вы находитесь в категории: {{ posts.0.category }}</h1>
<div> 
    {% for item in posts %}
    
        <hr>
            <a href="{% url 'blog:show_single_post' item.pk %}"><h2>{{ item.title }}</h2></a>
            <h4>{{item.summary}}...</h4>
            <a><i>Новость опубликовал пользователь: {{item.author}}. Дата публикации {{item.update_date}}</i></a>
    {% endfor %}
</div>   
<!-- Элементы навигации пагинации -->
<div class="pagination">
    <span class="step-links">
        <br>
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; первая</a>
            <a href="?page={{ posts.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ posts.number }} из {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">следующая</a>
            <a href="?page={{ posts.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}


