{% extends "base.html" %}
{% block content %}
<h1>По вашему запросу "{{userinput}}" найденны следующие записи: </h1>
<hr>
<div>
    <form method="post">
        {% csrf_token %}
        {{ sort_form.as_p }}
        <input type="submit" value="Сортировать">
    </form>
</div>
<div>
    {% for result in search_result %}
    <a href="{% url "blog:show_single_post" result.pk %}"><h4>{{result.title}}</h4></a>
    <br>
    <p>{{result.text}}</p>
    <hr>
    <br>
    {% endfor %}
</div>
<!-- Элементы навигации пагинации -->
<div class="pagination">
    <span class="step-links">
        <br>
        {% if search_result.has_previous %}
            <a href="?page=1">&laquo; первая</a>
            <a href="?page={{ search_result.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ search_result.number }} из {{ search_result.paginator.num_pages }}.
        </span>

        {% if search_result.has_next %}
            <a href="?page={{ search_result.next_page_number }}">следующая</a>
            <a href="?page={{ search_result.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}